<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#116466" />
    <link rel="shortcut icon" href="/images/chat-logo.png" type="image/png">
    <link rel="manifest" href="/manifest.json" />
    <script async="defer" src="/pwacompat/pwacompat.min.js"></script>
    <link rel="stylesheet" href="/components/fontawesome/css/all.min.css">
    <link href="/components/emoji-picker/css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>WhatsUp</title>
</head>

<body>
    <div class="root-container">
        {{{body}}}
    </div>
    <script src="/javascript/cookies.js"></script>
    <script src="/javascript/menu.js"></script>
    <script src="/javascript/modal.js"></script>
    <script src="/javascript/dropdown.js"></script>
    <script src="/javascript/search.js"></script>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/forms.js"></script>
    <script src="/javascript/script.js"></script>
</body>

</html>